/*
|--------------------------------------------------------------------------
| Form - Design
|--------------------------------------------------------------------------
*/

form {

  // Fix for invalide feedback outside of div
  .invalid-feedback {
      text-align: left;
      display: block;
  }

  // Dynamic
  fieldset {

      &.dynamic-fieldset > .dynamic-list > div {

        margin-bottom: 0.5rem;

        &:not(:first-child) label.form-label {
            display:none;
        }

        &:first-child .dynamic-item-btn {
          padding-top: calc((#{$font-size-base} * #{$line-height-base}) + #{$form-label-margin-bottom})
        }

        &.dynamic-item-delete {
          input {
            opacity: 0.25
          }
        }

      }

  }

}
