/*
|--------------------------------------------------------------------------
| SP - Backend - Components - Modal confirm - Design
|--------------------------------------------------------------------------
*/

.modal-confirm {

    .modal-header,
    .modal-body {
      text-align: center;
    }

    .modal-header {
        display:block;
        padding: 1rem 0;
        > .icon {
          display: block;
          width: 50px;
          height: 50px;
          line-height: 50px;
          font-size: 1.5rem;
          margin: 0 auto 0.25rem auto;
          @include border-radius(50%);
        }
    }

    .modal-body {
      background: $body-bg;
      padding: 2rem;
      > p {
        margin-bottom: 2rem;
      }
      button > .spinner-border,
      button > .spinner-grow {
        vertical-align: middle;
      }
    }

}
